<h2>Edit this Pokemon</h2>
<form action="/pokemon/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="put">

  <label>Name: </label>
  <input type="text" name="pokemon[name]" value="<%= @pokemon.name %>">

  <label>CP: </label>
  <input type="text" name="pokemon[cp]" value="<%= @pokemon.cp %>">

  <label>Pokemon Type: </label>
  <input type="text" name="pokemon[poke_type]" value="<%= @pokemon.poke_type %>">

  <label>Image Url: </label>
  <input type="text" name="pokemon[img_url]" value="<%= @pokemon.img_url %>">

  <label>Trainer Id: </label>
  <input type="text" name="pokemon[trainer_id]" value="<%= @pokemon.trainer_id %>">

  <input type="submit" value="UPDATE">

</form>


