<h2>Pokemon <%= @pokemon.name %></h2>
<h3><a href="/pokemon/<%= @pokemon.id %>/edit">Edit This Pokemon</a></h3>
<img src="<%= @pokemon.img_url %>">
<div class=Pokemon_info>This Pokemon's CP is: <%= @pokemon.cp %></div>
<div class=Pokemon_info>This Pokemon's Type is: <%= @pokemon.poke_type %></div>

<h2>Delete This Pokemon</h1>

<form action="/pokemon/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="delete_button" type="submit" value="DELETE">
</form>

